body {
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
}
.top {
    text-align: center;
}
.title {
    font-size: 50px;
}
.add-item {
    font-size: 25px;
    color: green;
    font-weight: bold;
}
.form {
    display: flex;
    flex-direction: column;
}
.name-input {
    padding: 0 354px;
    margin-right: 7px;
    text-align: left;
}

.next-line {
    margin-top: 10px;
}
.date-input {
    padding: 0 151px;
}
.amount-input {
    padding: 0 120px;
}
.add-btn {
    background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 8px;
    padding: 6px 20px;
    margin-top: 10px;
}
.table {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding: 0 140px;
    margin-left: 40px;
}
th, td {
    text-align: center;
    border: 1px solid black;
    padding: 0 51px;
  }
.error {
    display: none;
    color: red;
    text-align: center;
}
.name-value {
    text-align: center;
    border: 1px solid black;
    padding: 0 51px;
}
.date-value {
    text-align: center;
    border: 1px solid black;
    padding: 0 51px;
}
.amount-value {
    text-align: center;
    border: 1px solid black;
    padding: 0 51px;
}
.button-value {
    text-align: center;
    border: 1px solid black;
    padding: 8px 51px;
}
.removeButton {
    padding: 0px 4px;
    color: white;
    background-color: rgb(63, 61, 61);
}
